version: "3.9"

services:
  frontend:
    image: node:20-alpine
    container_name: nextjs-dev
    working_dir: /app/frontend
    command: sh -c "npm install && npm run dev"
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app/frontend
      - frontend_node_modules:/app/frontend/node_modules
    environment:
      - DATABASE_URL=postgres://postgres:postgres123@postgres:5432/app_db
    depends_on:
      - postgres
    tty: true

  postgres:
    image: postgres:15
    container_name: postgres-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: hunta
      POSTGRES_PASSWORD: Djslzja0080$
      POSTGRES_DB: app_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  frontend_node_modules:
